@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background2: 40, 80%, 90%;
    --bg-gradient-light: linear-gradient(
      to bottom,
      hsl(var(--background)),
      80%,
      hsl(var(--background2))
    );

    --foreground: 222 84% 5%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 46%;

    --accent: 339, 90%, 51%; /* danger */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --background2: 222 84% 10%;
    --bg-gradient-dark: linear-gradient(
      to bottom,
      hsl(var(--background)),
      80%,
      hsl(var(--background2))
    );

    --foreground: 210 40% 98%;

    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;

    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 339, 90%, 51%; /* danger */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 213 27% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
    @apply bg-gradient-light text-foreground;
  }

  .dark body {
    /* @apply bg-gradient text-foreground; */
    @apply bg-gradient-dark text-foreground;
  }
}
